<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <a
    routerLink="/"
    style="color: black; text-decoration: none; margin-left: 10vw"
  >
    <i class="bi fa-solid fa-umbrella fa-2xl" style="color: #ff0000"></i>
  </a>
  <span style="font-size: 24px; text-transform: uppercase; font-weight: bold"
    ><a routerLink="/" style="color: black; text-decoration: none">
      Weather Service
    </a></span
  >
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a routerLink="/" class="nav-link px-2 link-secondary">Home</a>
    </li>
    <li>
      <a routerLink="/map" class="nav-link px-2 link-secondary">Map</a>
    </li>
    <li>
      <a routerLink="/flights" class="nav-link px-2 link-secondary">Flights</a>
    </li>
    <li style="width: 7vw"></li>
  </ul>
</header>
