<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <a
    routerLink="/"
    style="color: black; text-decoration: none; margin-left: 10vw"
  >
    <i class="bi fa-solid fa-umbrella fa-2xl" style="color: #ff0000"></i>
  </a>
  <span style="font-size: 24px; text-transform: uppercase; font-weight: bold"
    ><a routerLink="/" style="color: black; text-decoration: none">
      Weather Service
    </a></span
  >
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a routerLink="/" class="nav-link px-2 link-secondary">Home</a>
    </li>
    <li>
      <a routerLink="/map" class="nav-link px-2 link-secondary">Map</a>
    </li>
    <li style="width: 7vw"></li>
  </ul>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer
  class="text-center text-lg-start text-white"
  style="background-color: rgb(51, 51, 51)"
>
  <div class="container-fluid p-4 pb-0">
    <section class="d-flex justify-content-center">
      <h3>IT-2204</h3>
    </section>
    <hr class="my-3" />
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <div class="p-3">© 2023 Copyright: Karsenbay Zhalgas</div>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
          <a
            class="btn btn-outline-light btn-floating"
            class="text-white"
            role="button"
            ><i class="fab fa-facebook-f fa-2xl m-3"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating"
            class="text-white"
            role="button"
            href="https://github.com/jksenby"
            ><i class="fab fa-github fa-2xl m-3"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating"
            class="text-white"
            role="button"
            href="www.linkedin.com/in/jksenby
              "
            ><i class="fab fa-linkedin fa-2xl m-3"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating"
            class="text-white"
            role="button"
            ><i class="fab fa-instagram fa-2xl m-3"></i
          ></a>
        </div>
      </div>
    </section>
  </div>
</footer>
