<div class="container text-center">
  <div class="row">
    <div
      class="col-lg-1 d-flex justify-content-center align-items-center"
      style="width: 100%"
    >
      <div
        id="myMap"
        style="background-color: gray; width: 650px; height: 650px"
      >
        <ya-map
          (yaclick)="onMapClick($event)"
          [center]="[51.1282205, 71.4306682]"
          [zoom]="12"
        >
          <ya-placemark [geometry]="[51.1282205, 71.4306682]"></ya-placemark>
        </ya-map>
      </div>
      <div
        *ngIf="cityData"
        style="display: -ms-grid"
        class="container-fluid list"
      >
        <div style="width: 100%; text-align: center"></div>
        <div class="card" style="width: 18rem; display: inline-block">
          <h1>{{ cityData.name }}</h1>
          <img
            class="card-img-top"
            [src]="
              'https://openweathermap.org/img/wn/' +
              cityData.weather[0].icon +
              '@2x.png'
            "
            alt="weather icon"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{
                cityData.weather[0].description[0].toUpperCase() +
                  cityData.weather[0].description.slice(1)
              }}
            </h5>
            <h1>{{ (+cityData.main.temp - 273.15).toFixed(1) }}°C</h1>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {{ formatTimeDifference(cityData.timezone).day }}
              <!-- Days -->
              {{ formatTimeDifference(cityData.timezone).month }}
              <!-- Month -->
              {{
                formatTimeDifference(cityData.timezone).hours +
                  ":" +
                  formatTimeDifference(cityData.timezone).minutes
              }}
              <!-- Time -->
            </li>

            <li class="list-group-item">
              Feels like:
              {{ (+cityData.main.feels_like - 273.15).toFixed(1) }}°C
            </li>
          </ul>
          <div class="card-body">
            <p href="#" class="card-link">
              Humidity: {{ +cityData.main.humidity }}%
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
